$basic-margin: 32px;
$basic-padding: 24px;

$normal-font-size: 16px;
$large-font-size: 20px;

// $deepBlue: rgba(0,33,64,1);
$deepBlue: #1d5198;
$blue: #2d71b8;
$grey: #dde1e8;

$max-width: 1440px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

/*
Mixin
*/
@mixin responsive($screen) {
  @media screen and(max-width:#{$screen}) {
    @content;
  }
}
